body {
  background-color: #EAEBEC; }

.mypanel {
  background-color: white;
  margin-top: 20vh;
  padding: 2em; }

.wrongAnswer {
  background: red;
  color: red;
  text-decoration: line-through; }
  .wrongAnswer::after {
    font-family: FontAwesome;
    content: "  \f00d";
    display: inline-block;
    margin-left: 0.5em;
    text-decoration: none; }

.rightAnswer {
  color: green; }
  .rightAnswer::after {
    font-family: FontAwesome;
    content: "  \f00c";
    display: inline-block;
    margin-left: 0.5em; }

.progress {
  margin: 20px 0px 10px 0px;
  height: 2em; }
  .progress span {
    font-size: 1.5em;
    line-height: 1.5em; }

form {
  font-size: 2em;
  line-height: 2.5em;
  margin-top: 1em; }
  form .col-md-6 {
    margin: 0;
    padding: 0.5em; }
    form .col-md-6 input {
      visibility: hidden; }
    form .col-md-6 label {
      cursor: pointer;
      width: 100%;
      background: #2D5BA8;
      color: white; }
      form .col-md-6 label input {
        height: 2em; }
      form .col-md-6 label:hover {
        background: rgba(51, 122, 183, 0.28); }

.grey {
  color: grey; }

.white {
  color: white; }

.green {
  color: green; }

.orange {
  color: orange; }

.red {
  color: red; }
