div#quiz {
  padding: 10px 40px 40px 40px; }

.panel {
  margin-top: 2em; }

.wrongAnswer {
  color: red;
  text-decoration: line-through; }
  .wrongAnswer::after {
    font-family: FontAwesome;
    content: "  \f00d"; }

.rightAnswer {
  color: green;
  font-weight: bold; }
  .rightAnswer::after {
    font-family: FontAwesome;
    content: "  \f00c"; }

.progress {
  height: 2em; }
  .progress span {
    font-size: 1.5em;
    line-height: 1.5em; }
