.panel {
  margin-top: 2em; }
  .panel .panel-content {
    padding: 1em; }

.wrongAnswer {
  color: red;
  text-decoration: line-through; }
  .wrongAnswer::after {
    font-family: FontAwesome;
    content: "  \f00d";
    display: inline-block;
    margin-left: 0.5em;
    text-decoration: none; }

.rightAnswer {
  color: green; }
  .rightAnswer::after {
    font-family: FontAwesome;
    content: "  \f00c";
    display: inline-block;
    margin-left: 0.5em; }

.progress {
  height: 2em; }
  .progress span {
    font-size: 1.5em;
    line-height: 1.5em; }

form {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em; }
  form .radio label {
    width: 100%;
    border-radius: 5px;
    padding-left: 2em; }
    form .radio label input {
      height: 1.5em; }
    form .radio label:hover {
      background: rgba(51, 122, 183, 0.28); }

.grey {
  color: grey; }

.white {
  color: white; }

.green {
  color: green; }

.orange {
  color: orange; }

.red {
  color: red; }
