.panel {
    margin-top: 2em;
    .panel-content {
        padding: 1em;
    }
}

.wrongAnswer {
    color: red;
    text-decoration: line-through;
    &::after {
        font-family: FontAwesome;
        content: "  \f00d"; // X
        display: inline-block;
        margin-left: 0.5em;
        text-decoration: none;
        // color: blue;
    }
}

.rightAnswer {
    color: green;
    &::after {
        font-family: FontAwesome;
        content: "  \f00c"; // V
        display: inline-block;
        margin-left: 0.5em;
    }
}

.progress {
    height: 2em;
    span {
        font-size: 1.5em;
        line-height: 1.5em;
    }
}

form {
    font-size: 1.5em;
    line-height: 2em;
    margin-top: 1em;
    .radio {
        // padding-left: 20px;
        label {
            width: 100%;
            border-radius: 5px;
            padding-left: 2em;
            input {
                height: 1.5em;
            }
            &:hover {
                background: rgba(51, 122, 183, 0.28);
            }
        }
    }
}

.grey {color: grey; }
.white {color: white; }
.green {color: green; }
.orange {color: orange; }
.red {color: red; }
