$size: 2em;
$blue: #2D5BA8;
$lightblue: #2F79B9;
body {
    background-color: #EAEBEC;
}

.mypanel {
    background-color: white;
    margin-top: 15vh;
    padding: 2em;
}

.wrongAnswer {
    background: red !important;
}

.rightAnswer {
    background: green !important;
}

.progress {
    margin: 20px 0px 10px 0px;
    height: 2em;
    span {
        font-size: 1.5em;
        line-height: 1.5em;
    }
}

.triangle {
    $trWidth: 100px;
    position: absolute;
    left: 50%;
    margin-left: -$trWidth;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $trWidth $trWidth 0px $trWidth;
    border-color: $blue transparent transparent transparent;
    // float: none;
    z-index: 2;
    p {
        // border: 1px solid white;
        color: white;
        font-size: $size * 1.5;
        top: -2em;
        position: relative;
        $numberWidth: 40px;
        width: $numberWidth;
        left: -$numberWidth/2;
        i {
            font-size: 0.7em;
        }
    }
}

form {
    font-size: $size;
    line-height: $size + 0.5em;
    margin-top: 1em;
    .col-md-6 {
        margin: 0;
        padding: 0.5em;
        // padding-left: 20px;
        input {
            // visibility: hidden;
            display: none;
        }
        label {
            font-weight: normal;
            cursor: pointer;
            width: 100%;
            background: $blue;
            color: white;
            input {
                height: $size;
            }
            &:hover {
                background: $lightblue;
            }
        }
    }
}

.grey {
    color: grey;
}

.white {
    color: white;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.red {
    color: red;
}
